:root{
  --fonte: 'Inter Tight';

  /* Cores */
  --fundo-escuro: #0F1524;
  --branco: #F5F5F5;
  --branco025: rgba(245, 245, 245, 0.25);
  --azul-medio: #495676;

  /* Margin */
  --margin-lateral: 15rem;

  /* Fonte */
  --txt: 2.5rem;
  --txt-cor: var(--branco); 
  
  --txt-botao: 1.875rem;
  --txt-botao-cor: var(--branco); 

  --txt-atalho-botao: 1.56rem;
  --borda-atalho-botao: var(--azul-medio);
  --txt-atalho-botao-cor: var(--azul-medio);

  /* Background */
  --bckg-escuro: var(--fundo-escuro);
  --bckg-rodape: var(--branco025);
}