.area-baloes{
  display: block;
}

.balao{
  position: relative;
  display: inline-block;
}

.balao:first-child{
  margin-left: 0 !important;
}

.balao:nth-child(even){
  transform: rotate(10deg);
  margin-left: -5px;
}

.balao:nth-child(odd){
  transform: rotate(-10deg);
  margin-left: 0.5rem;  
}

.balao--icone{
  height: 6rem;
  color: #000;
  letter-spacing: 0;
}

.balao--letra{
  position: absolute;
  text-transform: uppercase;
  top: 47.5%;
  right: 50%;
  /* transform: translate(-70%, -95%); */
  transform: translate(50%, -90%);
  font-size: 2rem;
  font-weight: bold;
  font-weight: 900;
  /* color: #FFF; */
  color: #000;
}