.principal{
  scroll-snap-type: y mandatory;
}

.apresentacao, 
.mensagens, 
.nao-ver{
  scroll-snap-align: center !important;

  padding: 0 var(--margin-lateral);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: var(--txt);
  line-height: 1.5;
  /* border-bottom: 1px dashed #FFF; */
}

.apresentacao b, 
.mensagens b, 
.nao-ver b{
  font-weight: var(--weight-bold);
}

.mensagens{
  position: static;
}

.mensagens__contador{
  font-size: var(--txt-contador-mensagens);
  color: var(--txt-contador-mensagens-cor);
  font-weight: var(--weight-bold);
  margin-bottom: 2rem;
}

.nao-ver{

}

.apresentacao__texto,
.mensagens__texto,
.nao-ver__texto{
  margin-bottom: 1.25rem;
}

.rodape{
  padding: 5rem var(--margin-lateral);
  background-color: var(--bckg-rodape);
}

.rodape__texto{
  font-size: var(--txt);
  line-height: 1.5;
}

.rodape__texto:first-child{
  margin-bottom: 1rem;
}

.none{
  display: none;
}

@media screen and (max-width: 340px) {
  .apresentacao, 
  .mensagens, 
  .nao-ver{
    margin: 2rem 0;
  }
}